.center-me {
    display: flex;
    justify-content: center;
}


.welcome {
    font-size: 50px;
    color:rgb(205, 164, 52);
}

.margine {
    margin-left: 150px;
}





.allineamento
{
    display:flex;
    justify-content: flex-start;
    
}




.mod-testo {
    letter-spacing: -1px;
    line-height: 1;
    margin-left: 100px;
    margin-top: 100px;
    border: 4px solid rgb(205, 164, 52);
    border-radius: 3%;
    padding: 8px 8px 8px 8px;
    width: 400px;
    height: 295px;
    vertical-align:middle;
    color: white;
    justify-content: center
  }

.mod-testo-2 {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.mod-testo-3 {
    letter-spacing: -1px;
    line-height: 1;
    margin-left: 100px;
    margin-top: 100px;
    padding: 8px 8px 8px 8px;
    vertical-align:middle;
    color: white;
    justify-content: center
    
}

.color-abilità {
    color: rgb(205, 164, 52);
    font-size: 50px;
    margin-left: 20px;
}

.color-abilità-2 {
    color:white;
    font-size: 20px;
    margin-left: 30px;
    font-family: cursive;
    display: flex;
    justify-content: center;
}


.g-skins {
    width: 500px;
    height: 400px;
    border: 4px solid rgb(205, 164, 52);
    margin-left: 10px;
    margin-bottom: 7px;
    margin-right: 25px;
    justify-content: center;
    border-radius: 5%;
}



body {
background-image:url(Gragas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
    
.color-nome-video {
    color: rgb(205, 164, 52);
    font-size: 20px;
    
    justify-content: center;

}

.g-video {
    height: 500;
    width: 800;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    border-radius: 5%;
    border: 4px solid silver;
}

.ability-g {
    margin-left: 20px;
    width: 48px;
}

.color-abilità-3 {
    color:white;
    font-size: 20px;
    margin-left: 30px;
    font-family: cursive;
    display:inline;
    
}

.space {
    margin-left: 30px;
    
}