li {
    color:red;
}

body {
    background-color:darkorange;
    color:rgb(49, 131, 49);
}

.welcome {
    color:fuchsia;
    font-family: cursive;
}

.bighead{
    background-color: black;
    width: fit-content;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    
    border-radius: 10px;
    
}
.center-me {
    display: flex;
    justify-content: center;
}